* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Sunflower', sans-serif;
    background-color: #F5F5F5;
}
  
.cabecalho {
    background-color: #024668;
    border-bottom: solid 5px #4faddb;
    height: 120px;
    box-sizing: content-box;
}
  
.logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
    padding-left: 25px;
    align-self: center;
}
  
.titulo {
    color: #f0fff0;
    align-self: center;
}
  
.autenticacao {
    float: right;
    height: 100%;
    padding: 15px;
}

.vertical-menu {
    width: 100%;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #024668;
    color: white;
}

.centro {
    padding: 20px 20px;
    align-content: center;
}
  
.centro td tr th {
    text-decoration-color: #424040;
    font-size: 11pt;
    background-color: #E6E6FA;
    border: 5pt;
}

.icones {
    float:left;
    height: 25px;
    margin-left: 40px;
    margin-right: 7px;
    margin-bottom: 10px;
}
   
.table {
    margin-top: 50px;
}

@media (max-width: 600px) {
    .autenticacao {
      display: none;
    }
}