* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: #F5F5F5;
  }
  
  .cabecalho {
    background-color: #024668;
    border-bottom: solid 5px #4faddb;
    height: 120px;
    box-sizing: content-box;
  }
  
  .logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
    align-self: center;
  }
  
  .titulo {
    color: #f0fff0;
    align-self: center;
  }
  
  .autenticacao {
    float: right;
    height: 100%;
    padding: 15px;
  }
  
  .menu {
    float: center;
    padding: 25px;
    background-color: #fff;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
  }
  
  .menu a:hover {
    background-color: rgb(196, 192, 192);
  }
  
  .centro {
    margin-top: 15px;
    padding: 20px 20px;
    align-content: center;
  }
  
  .centro td {
    text-decoration-color: rgb(66, 64, 64);
    font-size: 11pt;
  }
  
  @media (max-width: 600px) {
    .autenticacao {
      display: none;
    }
  }